<div class="tv">
	<h1>Sign to your app</h1>
	<form method="POST" action="/login" col s12>
		<input class="input-field col s6" type="text" name="username" required><br>
		<input class="input-field col s6" type="text" name="password" required><br>
		<br>
		<input id="button" class="waves-effect waves-green btn-large" type="submit" value="Sign in!">
	</form>
	<h3>
		{{#if message}}
			{{message}}
		{{/if}}
	</h3>
	<a href="/signup">Or create an account!</a>
</div>
