<div class="tv">
	<h5><a href="/home">Home</a></h5>
	<h1>Tools I'm using in this web app: </h1>
	<h2>CSS Preprocessor (Sass)</h2>
	<h2>Concatentation and minification of CSS and JavaScript files (look at Grunt.js, it wouldn't let me commit the actual modules to github)</h2>
	<h2>Grunt to automate minifcation/concatenation and compiling of Sass</h2>
	<h2>JSHint</h2>
	<h2>Used pre-built Express project-templates</h2>
	<h2>Integrated user authentication</h2>
	<h2>Used Materialize CSS framework</h2>
	<h2>Used OMDB API</h2>
</div>