/* line 1, ../sass/style.scss */
body {
  text-align: center;
  font-weight: bold;
}

body:before {
  content:"";
  position: absolute;
  border-top: 2px solid #212121;
  width: 9rem;
  transform: rotate(215deg);
  transform-origin: 0% 0%;
}
.tv:before {
  content:"";
  position: absolute;
  border-top: 2px solid #212121;
  width: 5rem;
  transform: rotate(315deg);
  transform-origin: -30% -40%;
}
/*line 7, ../sass/style.scss*/
.tv {
  /*background-image: url("../images/death.jpg");*/
  border-radius: 1rem;
  border: .1rem solid #212121;
  width: 50%;
  padding: 1rem;
  margin: 0px auto;
  margin-top: 12rem;
  position: relative;
}

/* line 13, ../sass/style.scss */
.error {

}

/* line 19, ../sass/style.scss */
a {

}

/* line 23, ../sass/style.scss */
.form {
  width: 100%;
  font-size: 150%;
}

/* line 28, ../sass/style.scss */
.form input {
  text-align: center;
  font-weight: bolder;
}

/* line 33, ../sass/style.scss */
.btn-large {
  background: #757575;
}

/* line 37, ../sass/style.scss */
label {
  font-weight: bold;
  font-size: 1.4rem;
}

/* line 42, ../sass/style.scss */
input {
  text-align: center;
}
